@model WebApp.Models.WebClient
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="col-sm-1">
                        <h2 class="or">Reset Password</h2>
                        <div class="col-sm-1">
                            <div class="login-form">

                                @using (Html.BeginForm("changePassword", "Account", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model=>model.Id)
                                    @Html.HiddenFor(model => model.firstname)
                                    @Html.HiddenFor(model => model.lastname)
                                    @Html.HiddenFor(model => model.username)
                                    @Html.HiddenFor(model => model.email)
                                    @Html.HiddenFor(model => model.secretquestion)
                                    @Html.HiddenFor(model => model.secretanswer)
                                    @Html.HiddenFor(model => model.profilephoto)
                                    @Html.HiddenFor(model => model.age)
                                   
                                    @Html.TextBoxFor(model => model.password, new {@placeholder = " Enter New Password" })
                                    @Html.ValidationMessageFor(model => model.password)
                                    <button type="submit" class="btn btn-default" id="log">Submit</button>
                                }


                            </div><!--/login form-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/form-->
</body>
</html>
